.hero_container {
    padding-block: 8em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.hero_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    & svg {
        height: 4.2em;
    }

    & h1 {
        font-family: var(--google_sans_medium);
        font-size: 4.5em;
        font-weight: 700;
        text-align: center;
        line-height: 1.1;
        color: var(--clr_black);
    }
}

.jumplink_wrapper {
    background-color: var(--clr_white);
    margin-inline: auto;
    width: fit-content;
    border-radius: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: var(--jumplink_wrapper_padding);
    box-shadow: var(--jumplink_wrapper_box_shadow);
}

.jumplink {
    font-family: var(--google_sans_medium);
    font-size: 1em;
    font-weight: 500;
    color: var(--clr_gray);
    border: var(--primary_border);
    border-color: transparent;
    border-radius: 15em;
    outline: none;
    padding: var(--jumplink_padding);

    transition-property: color, background-color;
    transition-duration: var(--primary_transition_time);

    &:hover {
        color: var(--clr_black);
        background-color: var(--clr_gray_lighter);
    }
}

.need_chrome p {
    font-family: var(--google_sans_regular);
    font-weight: 400;
    font-size: 1em;
    color: var(--clr_black);
    text-align: center;
}

.hero_images_container {
    padding-block: 2em;
    width: 100%;
}

.hero_images_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 30em;

    & img {
        height: 100%;
        border-radius: 0.5em;

        &:nth-child(3) {
            display: none;
            box-shadow: -0.3em 0.3em 0.3em var(--clr_gray_light);
        }
    }
}

.updates_container {
    padding-block: 5em;
}

.updates_title > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: fit-content;
    margin: auto;
}

.updates_title h1 {
    font-family: var(--google_sans_medium);
    font-size: var(--heading_font_size);
    font-weight: 700;
    color: var(--clr_black);
    text-align: center;
}

.heading_special {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: fit-content;
    background-color: var(--clr_light_blue);
    border-radius: var(--heading_special_border_radius);
    padding: var(--heading_special_padding);
    margin: auto;

    & svg {
        height: 3em;
    }

    & h2 {
        font-family: var(--google_sans_medium);
        font-size: var(--heading_special_font_size);
        font-weight: 600;
        color: var(--clr_blue);
        text-align: center;
    }
}

.updates_wrapper {
    padding-block: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
}

.update {
    border-radius: var(--primary_border_radius);
    position: relative;

    &:nth-child(1) {
        background-color: var(--clr_light_blue);
    }
    &:nth-child(2) {
        background-color: var(--clr_light_orange);
    }
}

.update_detail {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1em;
}

.update_detail h6 {
    text-transform: uppercase;
    font-family: var(--google_sans_medium);
    font-size: 0.8em;
    font-weight: 500;
    color: var(--clr_gray);
}

.update_detail h1 {
    font-family: var(--google_sans_medium);
    font-size: 2.5em;
    font-weight: 700;
    color: var(--clr_black);
}

.update_detail p {
    font-family: var(--google_sans_regular);
    font-size: 1.1em;
    font-weight: 500;
    color: var(--clr_black);
}

.update_detail a {
    font-family: var(--google_sans_medium);
    font-size: 1.1em;
    font-weight: 500;
}

.update_visual {
    border-radius: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: end;
    justify-content: end;

    & svg {
        position: absolute;
        height: 8em;
        margin: 2em 3em;
    }
}

/* Media Queries */
@media (width < 1000px) {
    .hero_head svg {
        height: 3.5em;
    }

    .hero_head h1 {
        font-size: 3.8em;
    }

    .jumplink_wrapper {
        display: none;
    }

    .hero_images_wrapper img:nth-child(2) {
        display: none;
    }
    .hero_images_wrapper img:nth-child(3) {
        display: block;
    }
}

@media (width < 600px) {
    .hero_head h1 {
        font-size: 3em;
    }
}
