*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    background-color: var(--clr_white);
}

@font-face {
    font-family: gs_bold;
    src: url(Fonts/Google_Sans_Bold.ttf);
}
@font-face {
    font-family: gs_bold_italic;
    src: url(Fonts/Google_Sans_Bold_Italic.ttf);
}
@font-face {
    font-family: gs_italic;
    src: url(Fonts/Google_Sans_Italic.ttf);
}
@font-face {
    font-family: gs_regular;
    src: url(Fonts/Google_Sans_Regular.ttf);
}

:root {
    /* Colors */
    --clr_blue: #1a73e8;
    --clr_light_blue: #e8f0fe;
    --clr_white: #fafafa;
    --clr_black: #202124;
    --clr_gray: #6a6e74;

    /* Fonts */
    --font_gs_bold: gs_bold, arial, sans-serif, system-UI;
    --font_gs_bold_italic: gs_bold_italic, arial, sans-serif, system-UI;
    --font_gs_italic: gs_italic, arial, sans-serif, system-UI;
    --font_gs_regular: gs_regular, arial, sans-serif, system-UI;

    /* Others */
    --max_width: min(100em, 100%);
    --main_width: 95%;
}

.max {
    width: var(--max_width);
    position: relative;
    margin: auto;
}
.main {
    width: var(--main_width);
    position: relative;
    margin: auto;
}

.navigation,
.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    & svg {
        height: 2.2em;
    }

    & h3 {
        font-family: var(--font_gs_regular);
        font-size: 1.5em;
        font-weight: 500;
        color: var(--clr_gray);
    }
}

.nav_link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & a {
        font-family: var(--font_gs_regular);
        font-size: 1em;
        font-weight: 500;
        color: var(--clr_gray);
    }
}

/* Media Queries */
