*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden auto;

    background-color: var(--clr_white);
}

@font-face {
    font-family: google_sans_bold;
    src: url(Fonts/Google_Sans_Bold.ttf);
}
@font-face {
    font-family: google_sans_medium;
    src: url(Fonts/Google_Sans_Medium.ttf);
}
@font-face {
    font-family: google_sans_regular;
    src: url(Fonts/Google_Sans_Regular.ttf);
}

:root {
    /* Colors */
    --clr_blue: #1a73e8;
    --clr_light_blue: #e5eefd;
    --clr_light_blue_darker: #d5e0f7;
    --clr_white: #fafafa;
    --clr_black: #202124;
    --clr_gray: #6b6d72;
    --clr_gray_light: #e6e6e6;
    --clr_gray_lighter: #f1f1f1;

    /* Fonts */
    --google_sans_bold: google_sans_bold, arial, sans-serif, system-UI;
    --google_sans_medium: google_sans_medium, arial, sans-serif, system-UI;
    --google_sans_regular: google_sans_regular, arial, sans-serif, system-UI;

    /* Others */
    --max_width: min(100em, 100%);
    --main_width: 95%;

    --primary_transition_time: 300ms;
    --primary_border: solid 0.15em var(--clr_blue);
    --primary_button_padding: 0.7em 1.1em;
    --primary_border_radius: 1em;

    --nav_link_padding: 0.6em;
    --nav_link_border_radius: 0.4em;

    --jumplink_wrapper_padding: 0.5em;
    --jumplink_padding: 0.5em 1em;
    --jumplink_wrapper_box_shadow: 0 0.15em 0.1em var(--clr_gray_light);
}

.max {
    width: var(--max_width);
    position: relative;
    margin: auto;
}
.main {
    width: var(--main_width);
    position: relative;
    margin: auto;
}

:is(a, button):is(:focus-visible, :active) {
    border: var(--primary_border);
    outline: none;
}

.primary_button {
    background-color: var(--clr_light_blue);
    font-weight: 500;
    font-family: var(--google_sans_medium);
    font-size: 1em;
    color: var(--clr_blue);
    border: var(--primary_border);
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: var(--primary_button_padding);
    border-radius: 15em;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--primary_transition_time);

    & svg {
        fill: var(--clr_blue);
        height: 1.3em;
    }

    &:hover {
        background-color: var(--clr_light_blue_darker);
    }
}

.normal_link {
    color: var(--clr_blue);
    border: var(--primary_border);
    border-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

nav {
    position: fixed;
    inset: 0 0 auto 0;
    background-color: var(--clr_white);
    z-index: 9;
}

.navigation,
.nav_left,
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    padding-block: 0.5em;
}

.nav_left,
.navigation {
    gap: 1em;
}

.nav_logo {
    gap: 0.5em;
    padding: 0.2em;

    border: var(--primary_border);
    border-color: transparent;
    border-radius: var(--nav_link_border_radius);
    outline: none;

    & svg {
        height: 2.2em;
    }

    & h3 {
        font-family: var(--google_sans_medium);
        font-size: 1.5em;
        font-weight: 500;
        color: var(--clr_gray);
    }
}

.nav_link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    font-family: var(--google_sans_medium);
    font-size: 1em;
    font-weight: 500;
    color: var(--clr_gray);
    border: var(--primary_border);
    border-color: transparent;
    border-radius: var(--nav_link_border_radius);
    outline: none;
    padding: var(--nav_link_padding);

    transition-property: color, background-color;
    transition-duration: var(--primary_transition_time);

    &:hover {
        color: var(--clr_black);
        background-color: var(--clr_gray_lighter);
    }
}

.fixed_jumplink_container {
    position: fixed;
    z-index: 9;
    inset: 0 0 auto 0;
    margin-block: 1em;
    scale: 0.9;
    opacity: 0;
    pointer-events: none;
}

.hamburger_button {
    background-color: var(--clr_white);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.5em;
    width: 3em;
    aspect-ratio: 1;
    border: var(--primary_border);
    border-color: transparent;
    border-radius: var(--nav_link_border_radius);
}

.hamburger_lines {
    width: 90%;
    height: 0.15em;
    background-color: var(--clr_black);
}

.download_chrome_qr_code_wrapper {
    position: fixed;
    z-index: 9;
    inset: 5em 1em auto auto;
    background-color: var(--clr_white);
    display: flex;
    box-shadow: var(--jumplink_wrapper_box_shadow);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1.5em;
    border-radius: var(--primary_border_radius);

    & img {
        width: 70%;
    }
}

/* Media Queries */
@media (width < 1000px) {
    .nav_link_container,
    .download_chrome_button {
        display: none;
    }

    .hamburger_button {
        display: flex;
    }
}

@media (width < 600px) {
    .nav_logo {
        transform-origin: left;
        transform: scale(0.8);
    }
}
