*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    background-color: var(--clr_white);
}

@font-face {
    font-family: google_sans_18pt;
    src: url(Fonts/Google_Sans_18pt.ttf);
}
@font-face {
    font-family: google_sans_text;
    src: url(Fonts/Google_Sans_Text.ttf);
}
@font-face {
    font-family: google_sans_text_medium;
    src: url(Fonts/Google_Sans_Text_Medium.ttf);
}

:root {
    /* Colors */
    --clr_blue: #1a73e8;
    --clr_light_blue: #e8f0fe;
    --clr_white: #fafafa;
    --clr_black: #202124;
    --clr_gray: #6b6d72;

    /* Fonts */
    --google_sans_18pt: google_sans_18pt, arial, sans-serif, system-UI;
    --google_sans_text: google_sans_text, arial, sans-serif, system-UI;
    --google_sans_text_medium: google_sans_text_medium, arial, sans-serif, system-UI;

    /* Others */
    --max_width: min(100em, 100%);
    --main_width: 95%;

    --primary_border: solid 0.15em var(--clr_blue);
    --nav_link_padding: 0.6em;
    --nav_link_border_radius: 0.3em;

    --primary_transition_time: 300ms;
}

.max {
    width: var(--max_width);
    position: relative;
    margin: auto;
}
.main {
    width: var(--main_width);
    position: relative;
    margin: auto;
}

nav {
    padding-block: 0.3em;
}

.navigation,
.nav_left,
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left,
.navigation {
    gap: 2em;
}

.nav_logo {
    gap: 0.5em;
    padding: 0.2em;
    border: var(--primary_border);
    border-color: transparent;
    border-radius: var(--nav_link_border_radius);
    outline: none;

    &:is(:focus-visible, :active) {
        border: var(--primary_border);
    }

    & svg {
        height: 2em;
    }

    & h3 {
        font-family: var(--google_sans_text_medium);
        font-size: 1.5em;
        font-weight: 500;
        color: var(--clr_gray);
    }
}

.nav_link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    font-family: var(--google_sans_text_medium);
    font-size: 1em;
    font-weight: 500;
    color: var(--clr_gray);
    padding: var(--nav_link_padding);
    border: var(--primary_border);
    border-color: transparent;
    border-radius: var(--nav_link_border_radius);
    outline: none;

    transition-property: color;
    transition-duration: var(--primary_transition_time);

    &:hover {
        color: var(--clr_black);
    }

    &:is(:focus-visible, :active) {
        border: var(--primary_border);
    }
}

/* Media Queries */
